[submodule "vim/pack/plugins/start/vim-go"]
	path = vim/pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/pack/plugins/start/c-support"]
	path = vim/pack/plugins/start/c-support
	url = https://github.com/WolfgangMehner/c-support
