[submodule "vim/pack/plugins/start/vim-go"]
	path = vim/pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/pack/plugins/start/c-support"]
	path = vim/pack/plugins/start/c-support
	url = https://github.com/WolfgangMehner/c-support
[submodule "vim/pack/plugins/start/rainbow_parentheses.vim"]
	path = vim/pack/plugins/start/rainbow_parentheses.vim
	url = https://github.com/junegunn/rainbow_parentheses.vim.git
[submodule "vim/pack/plugins/start/vim-clojure-static"]
	path = vim/pack/plugins/start/vim-clojure-static
	url = https://github.com/guns/vim-clojure-static.git
[submodule "vim/pack/plugins/start/vim-fireplace"]
	path = vim/pack/plugins/start/vim-fireplace
	url = https://github.com/tpope/vim-fireplace.git
[submodule "vim/pack/plugins/start/vim-sexp"]
	path = vim/pack/plugins/start/vim-sexp
	url = https://github.com/guns/vim-sexp
[submodule "vim/pack/plugins/start/vim-clojure-highlight"]
	path = vim/pack/plugins/start/vim-clojure-highlight
	url = https://github.com/guns/vim-clojure-highlight.git
[submodule "vim/pack/plugins/start/vim-better-whitespaces"]
	path = vim/pack/plugins/start/vim-better-whitespaces
	url = https://github.com/ntpeters/vim-better-whitespace
[submodule "vim/pack/plugins/start/linediff"]
	path = vim/pack/plugins/start/linediff
	url = git://github.com/AndrewRadev/linediff.vim.git
[submodule "vim/pack/plugins/start/diffchar"]
	path = vim/pack/plugins/start/diffchar
	url = https://github.com/rickhowe/diffchar.vim.git
